body {
    background-color: rgb(27, 29, 31);
}
main {
    width: 1100px;
    margin: 1rem auto;
}
p {
    line-height: 1.5em;
    hyphens: auto;
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.95rem;
    color: rgb(163, 161, 161);
}
hr {
    border-color: rgb(35, 35, 148);
}
ul li {
    margin-bottom: -1rem;
}
h1, h2, h3, h4 {
    font-family: 'Lexend', sans-serif;
    color: rgb(240, 160, 12);
}
h1 {
    letter-spacing: -2px;
    font-weight: 900;
    font-size: 2.3rem;
    transform: scaleY(1.2);
}
.turnRed {
    display: inline-block;
    color: rgb(202, 0, 0);
}
.layout {
    display: grid;
    grid-template-rows: 500px 400px;
    grid-template-columns: 54% 21% 25%;
    grid-template-areas: 
    "top    top    skills"
    "info  simplified   skills";
}
#topImage {
    grid-area: top;
}
#topImage img{
    width: 100%;
    height: 500px;
    object-fit: fill;
}
#skills {
    grid-area: skills;
}
#skills h1 {
    margin-top: 3rem;
    margin-left: 2rem;
    line-height: 1.1em;
}
#skills ul {
    list-style-type: square;
    color: rgb(202, 0, 0);
}
#skills p {
    margin-right: 1rem;
}
#backstory {
    grid-area: info;
    margin-top: -0.3rem;
}
#backstory p {
    margin-right: 1rem;
}
#backstory h1, #backstory h3, #backstory h4, #backstory p {
    margin-left: 5rem;
}
#backstory h1 {
    margin-top: -1rem;
    margin-bottom: -5px;
}
#backstory h3
{
    color: white;
    margin-top: -0.9rem;
}
#backstory h4 {
    color: rgb(202, 0, 0);
    margin-bottom: 1rem;
    transform: scaleY(1.1);
}
#description {
    margin-top: 25px;
    background-color: rgb(221, 125, 0);
    grid-area: simplified;
}
#description p {
    margin: 0 1rem;
    margin-bottom: 1rem; 
    font-size: 0.85rem;
    font-weight: bold;
}
#description h2 {
    margin-left: 1rem;
    margin-bottom: 0rem;
    margin-top: 5px;
    font-size: 1.3rem;
    letter-spacing: -1px;
}
.bottomLayout {
    margin-top: 2.7rem;
    display: grid;
    grid-template-rows: 400px;
    grid-template-columns: 25% 75%;
    grid-template-areas:
    "bottom  personal";
}
#bottomImage {
    width: 125%;
    grid-area: bottom;
    margin: auto;
    margin-left: 9%;
}
#bottomImage img{
    width: 75%;
    height: 75%;
    object-fit: fill;
}
#input {
    grid-area: personal;
}
#input h2 {
    margin-top: -2.1rem;
    margin-bottom: .55rem;
    color: rgb(228, 154, 16);;
    letter-spacing: -3px;
    font-size: 2rem;
}
#input img {
    width: 100%;
    object-fit: fill;
    margin-top: -1rem;
}
#input h1, #input p {
    margin-left: 1rem;
}
#input h1 {
    color: rgb(221, 125, 0);
    margin-top: -1px;
    margin-bottom: -1px;
}
#input p {
    column-count: 3;
    column-gap: 10px;
    column-span: all;
    column-width: 100px;
    margin-right: 20px;
}
#navigation {
    overflow: hidden;
    position: fixed;
    width: 100%;
    margin: 0 auto;
    z-index: 10;
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    justify-content: center;
}
#navigation a {
    display: block;
    float: left;
    background-color: white;
    text-align: center;
    padding: 14px 16px;
}
#navigation a:hover {
  background-color: #ddd;
  color: black;
}
#navigation a.active {
  background-color: #04AA6D;
  color: white;
}