body{
	display: flex;
	justify-content: center;
	height: 100vh;
	margin: 0;
	background-color: #333;
	font-family: 'Playball', cursive;
	color: white;
}

h1{
    display: inline-block;
	position:absolute;
	font-size: 3em;
	top: 0;
	line-height:1.5em;
	margin-top: 3.7vh;
}

h2 {
	font-size: 2em;
}

#desc {
	margin-top: 13.7vh;
	font-weight: 600;
}

section {
	margin: 0;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
	text-align: center;
	width: 400px;
}

section p {
	font-size: 1.5em;
}

#win {
	z-index: 0;
}

#loss {
	z-index: 0;
}

#back:focus, #back:hover, #restart:focus, #restart:hover {
	color: red;
	text-decoration: underline;
}

#back:active, #restart:active {
	color:blue;
	text-decoration: underline;
	font-style: italic;
}

div#game{
	margin: 0;
  	position: absolute;
	top: 50%;
 	left: 50%;
  	transform: translate(-240px, -28.5vh);
	z-index: 1; /* underneath everything */
}

span {
    width: 64px;
    height: 64px;
	z-index: 2;
}

/* Background Tile Styles */
span.floor{
	width: 32px;
    height: 32px;
	background: url(../sprites/new_floor.png);
}

span.wall{
	width: 32px;
    height: 32px;
	background: url(../sprites/bounds_hor.png);
}

span.shelf {
	width: 32px;
    height: 32px;
	background: url(../sprites/bounds_vert.png);
}

span.corner {
	width: 32px;
    height: 32px;
	background: url(../sprites/bounds_corner.png);
}

span.corner_top_right {
	width: 32px;
    height: 32px;
	background: url(../sprites/bounds_corner.png);
	transform: rotate(90deg);
}

span.corner_bottom_right {
	width: 32px;
    height: 32px;
	background: url(../sprites/bounds_corner.png);
	transform: rotate(180deg);
}

span.corner_bottom_left {
	width: 32px;
    height: 32px;
	background: url(../sprites/bounds_corner.png);
	transform: rotate(270deg);
}

span.cell{
	border: 1px solid #333; /* actual width & height is 32px because of border */

	padding:0;
	margin:0;
	position:absolute;
}

span.cellSelected{
	border:0;
	background-color: red;
	padding:0;
	margin:0;
	position:absolute;
}


/* Game Object Styles */
span.gameObject{
	position:absolute;
	z-index: 100; /* layered between background tiles and player */
	background-color:black;
}

span.monster1, span.monster2{ 
	position:absolute;
	z-index: 500; /* layered between other game objects and player */
	background: url(../sprites/battle_enemy.png);
}

/* player style */
span.player{ 
	background: url(../sprites/battle_player.png);
	z-index: 1000; /* On top of everything */
	transition-property: all;
	transition-duration: .25s;
}

span.portal{ 
	position:absolute;
	background: url(../sprites/portal.png)
}

span.power1{ 
    width: 64px;
    height: 192px;
	position:absolute;
	background: url(../sprites/spell_fire.png);
}

span.power2{ 
    height: 32px;
	position:absolute;
	background: url(../sprites/spell_lightning.png);
}

span.power3{ 
    width: 64px;
    height: 192px;
	position:absolute;
	background: url(../sprites/spell_wall.png);
}

span.pShot {
	width: 32px;
	height: 32px;
	position: absolute;
	background: url(../sprites/player_attack.png);
}

span.eShot {
	width: 32px;
	height: 32px;
	position: absolute;
	background: url(../sprites/enemy_attack.png);
}