body{
	display: flex;
	justify-content: center;
	height: 100vh;
	margin: 0;
	background-color: #333;
}

h1{
    font-family: 'Playball', cursive;
	display: inline-block;
	position:absolute;
	font-size: 3em;
	top: 0;
	line-height:1.5em;
	color: white;
}

div#game{
	margin-left: -27%;
	margin-top: 25vh;
	padding:0;
	position: absolute;
	z-index: 0; /* underneath everything */
}

span {
    width: 64px;
    height: 64px;
}

/* Background Tile Styles */
span.floor{
	width: 32px;
    height: 32px;
	background: url(../sprites/new_floor.png);
}

span.wall{
	width: 32px;
    height: 32px;
	background: url(../sprites/bounds_hor.png);
}

span.shelf {
	width: 32px;
    height: 32px;
	background: url(../sprites/bounds_vert.png);
}

span.corner {
	width: 32px;
    height: 32px;
	background: url(../sprites/bounds_corner.png);
}

span.cell{
	border: 1px solid #333; /* actual width & height is 32px because of border */

	padding:0;
	margin:0;
	position:absolute;
}

span.cellSelected{
	border:0;
	background-color: red;
	padding:0;
	margin:0;
	position:absolute;
}


/* Game Object Styles */
span.gameObject{
	position:absolute;
	z-index: 100; /* layered between background tiles and player */
	background-color:black;
}

span.locked{ 
	position:absolute;
	background: url(../sprites/locked.png);
}

span.key1{ 
	position:absolute;
	background: url(../sprites/case_key.png);
}

span.monster1, span.monster2{ 
	position:absolute;
	z-index: 500; /* layered between other game objects and player */
	background: url(../sprites/battle_enemy.png);
}

/* player style */
span.player{ 
	background: url(../sprites/battle_player.png);
	z-index: 1000; /* On top of everything */
	transition-property: all;
	transition-duration: .25s;
}

span.portal{ 
	position:absolute;
	background: url(../sprites/portal.png)
}

span.power1{ 
    width: 64px;
    height: 192px;
	position:absolute;
	background: url(../sprites/spell_fire.png);
}

span.power2{ 
    height: 32px;
	position:absolute;
	background: url(../sprites/spell_lightning.png);
}

span.power3{ 
    width: 64px;
    height: 192px;
	position:absolute;
	background: url(../sprites/spell_wall.png);
}