body{
	display: flex;
	justify-content: center;
	height: 100vh;
	margin: 0;
	background-color: #333;
	font-family: 'Playball', cursive;
	color: white;
}

h1{
	display: inline-block;
	position:absolute;
	font-size: 3em;
	top: 0;
	line-height:1.5em;
	margin-top: 75px;
}

h2 {
	font-size: 2em;
}

#desc {
	margin-top: 175px;
	font-weight: 600;
}

#win {
	margin: 0;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
	text-align: center;
	width: 500px;
	z-index: -1;
}

#win p {
	font-size: 1.5em;
}

div#game{
	margin: 0;
  	position: absolute;
	top: 50%;
 	left: 50%;
  	transform: translate(-272px, -192px);
	z-index: 0; /* underneath everything */
}


/* Background Tile Styles */
span.floor{
	width:32px;
	height:32px;
	background: url(../sprites/new_floor.png);
}

span.wall{
	width:32px;
	height:32px;
	background: url(../sprites/wall.png);
}

span.shelf {
	width: 32px;
	height: 32px;
	background: url(../sprites/shelf.png);
}

span.cell{
	height:32px;
	width:32px;
	border: 1px solid #333; /* actual width & height is 32px because of border */
	background-color: #ccc;
	padding:0;
	margin:0;
	position:absolute;
}

span.cellSelected{
	height:32px;
	width:32px;
	border:0;
	background-color: red;
	padding:0;
	margin:0;
	position:absolute;
}


/* Game Object Styles */
span.gameObject{
	height:32px;
	width:32px;
	position:absolute;
	z-index: 100; /* layered between background tiles and player */
	background-color:black;
}

span.locked{ 
	position:absolute;
	background: url(../sprites/locked.png);
}

span.key1{ 
	position:absolute;
	background: url(../sprites/case_key.png);
}

span.monster1, span.monster2{ 
	position:absolute;
	z-index: 500; /* layered between other game objects and player */
	background: url(../sprites/enemy.png);
}

/* player style */
span.player{ 
	background: url(../sprites/world_player.png);
	z-index: 1000; /* On top of everything */
	transition-property: all;
	transition-duration: .25s;
}

span.portal{ 
	position:absolute;
	background: url(../sprites/portal.png)
}

span.power1{ 
	position:absolute;
	background: url(../sprites/flame_power.png);
}

span.power2{ 
	position:absolute;
	background: url(../sprites/lightning_power.png);
}

span.power3{ 
	position:absolute;
	background: url(../sprites/nature_power.png);
}