body {
    background-color: rgb(27, 29, 31);
}
main {
    width: 1100px;
    margin: 1rem auto;
}
a {
    text-decoration: underline;
    background-color: rgb(58, 57, 65);
}
a:link {
    color:rgb(77, 145, 212);
}
a:visited {
    color:rgb(209, 125, 14);
    text-decoration: line-through;
}
a:focus {
    color:#99ADAA; 
    background-color: rgb(95, 93, 107);
}
a:hover {
    color:#99ADAA; 
    background-color: rgb(95, 93, 107);
}
a:active {
    color: rgb(179, 21, 21); 
    background-color: rgb(95, 93, 107);
}
p {
    line-height: 1.5em;
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.95rem;
    color: rgb(163, 161, 161);
}
hr {
    border-color: rgb(35, 35, 148);
}
ul li {
    margin-bottom: -1rem;
    font-size: 0.5rem;
}
h1, h2, h3, h4 {
    font-family: 'Lexend', sans-serif;
    color: rgb(240, 160, 12);
}
h1 {
    letter-spacing: -2px;
    font-weight: 900;
    font-size: 2.3rem;
    transform: scaleY(1.2);
}
.turnRed {
    display: inline-block;
    color: rgb(202, 0, 0);
}
.layout {
    display: grid;
    grid-template-rows: 500px 400px;
    grid-template-columns: 54% 21% 25%;
    grid-template-areas: 
    "top    top    skills"
    "info  simplified   skills";
}
.topImage {
    grid-area: top;
}
.topImage img{
    width: 100%;
    height: 500px;
    object-fit: fill;
}
.skills {
    grid-area: skills;
}
.skills h1 {
    margin-top: 1.4rem;
    margin-left: 2rem;
    line-height: 1.1em;
    font-size: 2rem;
}
.skills ul {
    list-style-type: square;
    color: rgb(202, 0, 0);
}
.skills li
{
    margin-top: -20px;
    margin-bottom: -45px;
    margin-left: -20px;
	padding: 10px 0px 10px 84px;
	list-style: none;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 80px;
}
#noxious {
    background-image: url(../media/noxious_blast.png);   
}
#blinding {
    background-image: url(../media/blinding_gas.png);   
}
#incision {
    background-image: url(../media/incision.png);   
}
#medicine {
    background-image: url(../media/battlefield_medicine.png);
}
#ounce {
    background-image: url(../media/ounce_of_prevention.png);
}
#pick {
    background-image: url(../media/pick_to_the_face.png);
}
#thrown {
    background-image: url(../media/thrown_dagger.png);
}
#flashing {
    background-image: url(../media/flashing_daggers.png);
}
#poison {
    background-image: url(../media/poison_dart.png);
}
#absinthe {
    background-image: url(../media/absinthe.png);
}
#wicked {
    background-image: url(../media/wicked_slice.png);
}
#pistol {
    background-image: url(../media/pistol_shot.png);
}
#advance {
    background-image: url(../media/duelists_advance.png);
}
#tracking {
    background-image: url(../media/tracking_shot.png);
}
#aim {
    background-image: url(../media/take_aim.png);
}
#crush {
    background-image: url(../media/crush.png);
}
#rampart {
    background-image: url(../media/rampart.png);
}
#defender {
    background-image: url(../media/defender.png);
}
#bolster {
    background-image: url(../media/bolster.png);
}
#hold {
    background-image: url(../media/hold_the_line.png);
}
#hack {
    background-image: url(../media/wicked_hack.png);
}
#iron {
    background-image: url(../media/iron_swan.png);
}
#barbaric {
    background-image: url(../media/barbaric_yawp!.png);
}
#ifIt {
    background-image: url(../media/if_it_bleeds.png);
}
#toe {
    background-image: url(../media/toe_to_toe.png);
}
#searing {
    background-image: url(../media/searing_blade.png);
}
#firefly {
    background-image: url(../media/firefly.png);
}
#smokescreen {
    background-image: url(../media/smokescreen.png);
}
#run {
    background-image: url(../media/run_and_hide.png);
}
#hearth {
    background-image: url(../media/hearthlight.png);
}
#razors {
    background-image: url(../media/razors_wit.png);
}
#fade {
    background-image: url(../media/fade_to_black.png);
}
#slice {
    background-image: url(../media/slice_off.png);
}
#battle {
    background-image: url(../media/battle_ballad.png);
}
#inspiring {
    background-image: url(../media/inspiring_tune.png);
}
#chop {
    background-image: url(../media/chop.png);
}
#purge {
    background-image: url(../media/purge.png);
}
#withstand {
    background-image: url(../media/withstand.png);
}
#solemnity {
    background-image: url(../media/solemnity.png);
}
#reflection {
    background-image: url(../media/reflection.png);
}
#stab {
    background-image: url(../media/sacrificial_stab.png);
}
#abyssal {
    background-image: url(../media/abyssal_artillery.png);
}
#curse {
    background-image: url(../media/weakening_curse.png);
}
#wyrd {
    background-image: url(../media/wyrd_reconstruction.png);
}
#pull {
    background-image: url(../media/daemons_pull.png);
}
#hand {
    background-image: url(../media/hand_of_light.png);
}
#illumination {
    background-image: url(../media/illumination.png);
}
#judgement {
    background-image: url(../media/judgement.png);
}
#divine {
    background-image: url(../media/divine_grace.png);
}
#fortitude {
    background-image: url(../media/consecration_of_fortitude.png);
}
#punish {
    background-image: url(../media/punish.png);
}
#fester {
    background-image: url(../media/fester.png);
}
#deathless {
    background-image: url(../media/deathless.png);
}
#endure {
    background-image: url(../media/endure.png);
}
#lashs {
    background-image: url(../media/lashs_gift.png);
}
#collect {
    background-image: url(../media/collect_bounty.png);
}
#marked {
    background-image: url(../media/mark_for_death.png);
}
#come {
    background-image: url(../media/come_hither.png);
}
#caltrops {
    background-image: url(../media/caltrops.png);
}
#flashbang {
    background-image: url(../media/flashbang.png);
}
.skills p {
    margin-right: 1rem;
}
.backstory {
    grid-area: info;
    margin-top: -0.3rem;
}
.backstory p {
    margin-right: 1rem;
}
.backstory h1, .backstory h3, .backstory h4, .backstory p {
    margin-left: 5rem;
}
.backstory h1 {
    margin-top: -1rem;
    margin-bottom: -5px;
}
.backstory h3
{
    color: white;
    margin-top: -0.9rem;
}
.backstory h4 {
    color: rgb(202, 0, 0);
    margin-bottom: 1rem;
    transform: scaleY(1.1);
}
.description {
    margin-top: 25px;
    background-color: rgb(61, 61, 61);
    grid-area: simplified;
}
.description ul {
    list-style: disc;
    color: rgb(163, 161, 161);
}
.description li {
    margin-bottom: 40px;
    font-size: 1.4rem;
}
#occultist .description li {
    margin-bottom: 30px;
}
.description p {
    margin: 0 1rem;
    margin-bottom: 1rem; 
    font-size: 1.4rem;
    font-weight: bold;
}
.description h2 {
    margin-left: 1rem;
    margin-bottom: 30px;
    margin-top: 5px;
    font-size: 1.5rem;
    letter-spacing: -1px;
    text-decoration: underline;
    transform: scaleY(1.2);
}
.bottomLayout {
    margin-top: 100px;
    display: grid;
    grid-template-rows: 400px;
    grid-template-columns: 25% 75%;
    grid-template-areas:
    "bottom  personal";
}
#plague_doctor .bottomLayout {
    margin-top: 175px;
}
#plague_doctor .bottomLayout, #highwayman .bottomLayout, #jester .bottomLayout {
    margin-bottom: 2rem;
}
#grave_robber .bottomLayout, #runaway .bottomLayout {
    margin-bottom: 3rem;
}
#highwayman .bottomLayout {
    margin-top: 125px;
}
#man-at-arms .bottomLayout {
    margin-top: 225px;
    margin-bottom: 8rem;
}
#hellion .bottomLayout {
    margin-bottom: 6rem;
}
#leper .bottomLayout {
    margin-top: 325px;
    margin-bottom: 11rem;
}
#occultist .bottomLayout {
    margin-bottom: 16rem;
}
#vestal .bottomLayout {
    margin-top: 175px;
}
#flagellant .bottomLayout {
    margin-top: 325px; 
    margin-bottom: 17rem;
}
#bounty_hunter .bottomLayout {
    margin-top: 225px;
}
.bottomImage {
    width: 125%;
    grid-area: bottom;
    margin: auto;
    margin-left: 9%;
}
.bottomImage img{
    width: 75%;
    height: 75%;
    object-fit: fill;
}
.input {
    grid-area: personal;
}
.input h2 {
    margin-top: -2.1rem;
    margin-bottom: .55rem;
    color: rgb(228, 154, 16);;
    letter-spacing: -3px;
    font-size: 2rem;
}
.input img {
    width: 100%;
    object-fit: fill;
    margin-top: -1rem;
}
.input h1, .input p {
    margin-left: 1rem;
}
.input h1 {
    color: rgb(221, 125, 0);
    margin-top: -1px;
    margin-bottom: -1px;
}
.colOne, .colTwo, .colThree{
    width: 32%;
    float: left;
}
.colOne, .colTwo {
    margin-right: 10px;
}
#navigation {
    overflow: hidden;
    position: fixed;
    width: 100%;
    margin: 0 auto;
    z-index: 10;
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    justify-content: center;
}
#navigation a {
    display: block;
    float: left;
    text-align: center;
    padding: 14px 16px;
}
#resp_nav {
    display: none;
    text-align: center;
}

@media screen and (max-width:600px) {
    .layout {
        display: grid;
        grid-template-rows: 500px 400px 400px 500px;
        grid-template-columns: 100vw;
        grid-template-areas: 
        "top"
        "info"
        "simplified"
        "skills"
    }
    .bottomLayout {
        display: grid;
        grid-template-rows: 400px 400px;
        grid-template-columns: 100vw;
        grid-template-areas:
        "bottom"  
        "personal";
    }
    #navigation {
        display: block;
    }
    #navigation a {
        display: none;
    }
    #resp_nav {
        display: block;
        color:rgb(77, 145, 212);
        background-color: rgb(58, 57, 65);
        padding: 14px 16px;
    }
    #resp_nav:hover {
        background-color: rgb(95, 93, 107);
    }
    #resp_nav:focus {
        background-color: rgb(95, 93, 107);
    }
    #navigation:hover a {
        float: none;
        position: relative;
        display: block;
    }
    #navigation:focus a {
        float: none;
        position: relative;
        display: block;
        margin-top: 50px;
    }
    .topImage {
        width: 100vw;
    }
    .description {
        width: 50vw;
        justify-self: center;
    }
    #leper .description {
        margin-top: 65px;
    }
    .bottomImage img {
        width: 80vw;
        height: 400px;
    }
    .backstory h1, .backstory h3, .backstory h4, .backstory p {
        margin-left: 1rem;
        margin-right: 2rem;
    }
    .input img {
        width: 95vw;
        object-fit: fill;
    }
    .colOne, .colTwo, .colThree {
        width: 32vw;
        float: left;
        margin-right: 1px;
    }
    .colThree {
        margin-left: -10px;
    }
    #plague_doctor .bottomLayout, #highwayman .bottomLayout, #jester .bottomLayout {
        margin-bottom: 8rem;
    }
    #grave_robber .bottomLayout, #runaway .bottomLayout {
        margin-bottom: 10rem;
    }
    #highwayman .bottomLayout, #runaway .bottomLayout, #occultist .bottomLayout {
        margin-top: 125px;
    }
    #man-at-arms .bottomLayout {
        margin-top: 225px;
        margin-bottom: 17rem;
    }
    #hellion .bottomLayout {
        margin-top: 175px;
        margin-bottom: 12rem;
    }
    #jester .bottomLayout {
        margin-top: 150px;
    }
    #leper .bottomLayout {
        margin-top: 225px;
        margin-bottom: 22rem;
    }
    #occultist .bottomLayout {
        margin-bottom: 27rem;
    }
    #vestal .bottomLayout {
        margin-top: 175px;
        margin-bottom: 6rem;
    }
    #flagellant .bottomLayout {
        margin-top: 200px; 
        margin-bottom: 29rem;
    }
    #bounty_hunter .bottomLayout {
        margin-top: 175px;
    }
}